[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/vendor/start/vim-markdown"]
	path = vim/pack/vendor/start/vim-markdown
	url = https://github.com/preservim/vim-markdown.git
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/vendor/start/coc.nvim"]
	path = vim/pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/vendor/start/ctrlsf"]
	path = vim/pack/vendor/start/ctrlsf
	url = https://github.com/dyng/ctrlsf.vim
[submodule "vim/pack/vendor/start/auto-pairs"]
	path = vim/pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/vendor/start/vim-airline"]
	path = vim/pack/vendor/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/pack/vendor/start/spelunker.vim"]
	path = vim/pack/vendor/start/spelunker.vim
	url = https://github.com/kamykn/spelunker.vim.git
[submodule "vim/pack/vendor/start/git-messenger.vim"]
	path = vim/pack/vendor/start/git-messenger.vim
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "vim/pack/vendor/start/vim-go"]
	path = vim/pack/vendor/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/vendor/start/markdown-preview.nvim"]
	path = vim/pack/vendor/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "vim/pack/vendor/start/tagbar"]
	path = vim/pack/vendor/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vim/pack/vendor/start/vim-barbaric"]
	path = vim/pack/vendor/start/vim-barbaric
	url = https://github.com/rlue/vim-barbaric.git
[submodule "vim/pack/vendor/start/vim-jsx-pretty"]
	path = vim/pack/vendor/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim/pack/vendor/start/typescript-vim"]
	path = vim/pack/vendor/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
